@model MobilePro.Models.CreateBillModel
@using MobilePro.Models
@{
    ViewBag.Title = "Create Bill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .custom-ModelNo {
        position: relative;
        display: inline-block;
    }

    .custom-ModelNo-toggle {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left: -1px;
        padding: 0;
    }

    .custom-ModelNo-input {
        margin: 0;
        padding: 5px 10px;
    }
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            New Service Bill &nbsp;<span style="font-weight:bold; color:blue">SERVICE BILL (SHIFT + F1) &nbsp; SALES BILL (SHIFT + F3) &nbsp; EXPENSE (SHIFT + F5)</span>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="@Url.Action("ListBills", "Billing")">Bills List</a></li>
            <li class="active">Create New Service Bill</li>
        </ol>
    </section>

    <!-- Main content -->
    @using (Html.BeginForm("CreateBill", "Billing", null, FormMethod.Post, new { id = "CreateBill_form", enctype = "multipart/form-data" }))
    {
        <section class="content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="box box-default">
                        <div class="box-header with-border" style="display:none">
                            <h3 class="box-title"><span>New Service Bill Entry</span></h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>

                        <div class="box-body">
                            @if (@ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                            {
                                <div class="alert alert-danger">
                                    <a href="#" class="close" data-dismiss="alert">×</a>
                                    <h4>Validation Errors</h4>
                                    @Html.ValidationSummary()
                                </div>
                            }
                            @Html.AntiForgeryToken()
                            <div class="col-sm-12 callout callout-info">
                                <p id="div_success">@Html.Raw(ViewBag.Message)</p>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                   
                                    <div class="col-md-2">
                                        <label class="control-label">Bill No</label><code>Auto</code>
                                        <input type="text" class="form-control" id="ReceiptNo" name="ReceiptNo" value="@Model.ReceiptNo" readonly="readonly" placeholder="xxxxx">
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label">Service Date</label><code>Auto</code>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control pull-right" id="ServiceDate" name="ServiceDate" value="@Model.ServiceDate" readonly="readonly" placeholder="">
                                        </div><!-- /.input group -->
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Customer Name</label>
                                        <input type="text" class="form-control" id="CustomerName" tabindex="1" style="text-transform: uppercase" value="@Model.CustomerName" name="CustomerName" placeholder="Enter Customer Name">
                                    </div>

                                    <div class="col-md-2">
                                        <label class="control-label">Contact No.</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-phone"></i>
                                            </div>
                                            <input type="text" class="form-control" id="ContactNo" tabindex="2" name="ContactNo" value="@Model.ContactNo" data-inputmask='"mask": "9999-9999"' data-mask>
                                        </div><!-- /.input group -->
                                    </div>
                                   
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="control-label">Brand</label>
                                        <div>
                                            @Html.DropDownList("BrandCode",
                                            new SelectList(ViewBag.BrandList as System.Collections.IEnumerable, "Value", "Text", Shared.ToString(Model.BrandCode)),
                                            new { @class = "form-control", @tabindex = "3" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label>Model</label>
                                        <div class="ui-widget">
                                            <input type="text" class="form-control" id="ModelNo" style="text-transform: uppercase" tabindex="4" name="ModelNo" value="@Model.ModelNo">                                       
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label>Color</label>
                                        <div>
                                            @Html.DropDownList("ColorCode",
                                            new SelectList(ViewBag.ColorList as System.Collections.IEnumerable, "Value", "Text", Shared.ToString(Model.ColorCode)),
                                            new { @class = "form-control", @tabindex = "5" })
                                        </div>
                                    </div>

                                  

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">  
                                    <div class="col-md-6">
                                        <label class="control-label">Nature Fault</label>
                                        <input type="text" class="form-control" id="NatureFault" tabindex="6" style="text-transform: uppercase" value="@Model.NatureFault" name="NatureFault" placeholder="Enter Fault">
                                    </div>                                  
                                                                     
                                    <div class="col-md-3">
                                        <label class="control-label">Est Amount</label>
                                        <input type="text" class="form-control" id="NetAmount" tabindex="7" name="NetAmount" value="@Model.NetAmount" placeholder="Enter Net Amount">
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="control-label">Status</label>
                                        <div>
                                            @Html.DropDownList("StatusCode",
                                            new SelectList(ViewBag.StatusList as System.Collections.IEnumerable, "Value", "Text", Shared.ToString(Model.StatusCode)),
                                            new { @class = "form-control", @tabindex = "9" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label">Password Type</label>
                                        <div>
                                            <input type="radio" id="PasswordType" tabindex="10" name="PasswordType" class="k-radio" value="Number" checked="@(Model.PasswordType != null ? Model.PasswordType.Equals("Number") : false)" />
                                            <label class="k-radio-label" for="PasswordType">Number</label>&nbsp;&nbsp;
                                            <input type="radio" id="PasswordType" tabindex="11" name="PasswordType" class="k-radio" value="Pattern" checked="@(Model.PasswordType != null ? Model.PasswordType.Equals("Pattern") : false)" />
                                            <label class="k-radio-label" for="PasswordType">Pattern</label>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="control-label">Password</label>
                                        <div>
                                            <input type="text" class="form-control" id="Password" tabindex="12" value="@Model.Password" name="Password" placeholder="Enter Password">
                                        </div>
                                    </div>
                                </div>
                            </div>                          
                            
                           
                        </div> <!-- /.box -->

                        <div id="div_error"></div>                        

                        <div class="box-body">
                            <div class="form-group">
                                <div class="row">
                                   
                                    <div class="col-md-4">
                                        <label class="control-label">IMEI No</label>
                                        <input type="text" class="form-control" id="IMEINo" tabindex="13" style="text-transform: uppercase" value="@Model.IMEINo" name="IMEINo" placeholder="Enter IMEI No">
                                    </div> 
                                    <div class="col-md-6">
                                        <label class="control-label">Remarks</label>
                                        <textarea rows="4" cols="60" class="form-control" tabindex="14" id="TechRemark" name="TechRemark" placeholder="Enter Remarks">@Model.TechRemark</textarea>
                                    </div>

                                </div>
                            </div>
                            

                            <div class="box-footer">
                                <div class="margin pull-right hidden-xs">
                                    <button type="submit" id="btnsubmit" class="btn btn-primary" tabindex="15"><i class="fa fa-save"></i> Submit</button>
                                    <button onclick="cancelclick();" type="button" tabindex="16" class="btn btn-primary"><i class="fa fa-ban"></i> Cancel</button>
                                </div>
                            </div>
                        </div>

                    </div> <!-- /.col-sm-8 -->

                </div> <!-- /.row -->
            </div>
        </section> <!-- /.content-->

    }
</div><!-- /.content-wrapper -->
<!-- page script -->
<script type="text/javascript">
    jQuery(document).ready(function () {
        var tabindex = 1;
        $('[tabindex=' + tabindex + ']').focus();       

        $("input").keypress(function(event) {
            if (event.which == 13) {
                event.preventDefault();
                $("#btnsubmit").click();
            }
        });

        $("select").keypress(function(event) {
            if (event.which == 13) {
                event.preventDefault();
                $("#btnsubmit").click();
            }
        });


        $('#NetAmount').on('keydown', function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });

        //FillModels();

        $("[data-mask]").inputmask();

    });
       
    function cancelclick() {
        document.location = '@Url.Action("ListBills", "Billing")';
    }

    function IsStringEmpty(str) {
        if (str && str != '')
            return false;
        else
            return true;
    }

</script>



